body {
    width: 1440px;
    height: 1024px;
    background: #F6F7FB;
    display:flex;
}

ul{
    list-style: none;
}

.attendance_main{
    float:right;
    position: absolute;
    width: 836px;
    height: 1024px;
    left: 350px;
    top: 0px;
    margin: 0 160px 0 160px;
}

h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;    
}

.attend-icon-list{
    margin-top:79px;
}

.attend_search{
    width: 487px;
    height: 58px;
    margin-top:10px;
    background: #F0F0F0;
    border-radius: 20px;
}

span.material-icons{
    float:left;
    width: 25.53px;
    height: 26.29px;
}

#search__box{
    border: 0;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 197px;
    height: 27px;
    margin-top:11px;
    margin-bottom:20px;
    background: #F0F0F0;
    margin-left:26.47px;
}

.searchicon{
    margin-top:13px;
    margin-left:27px;
    border:0;
}

.attend_info{
    width: 82px;
    height: 26px;
    margin-top:124px;
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.attend_box{
    width: 736px;
    height: 395px;
    left: 365px;
    top: 395px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.member_section{
    width: 481px;
    height: 400px;
    float: left;
}

.memberprofile{
    width: 57px;
    height: 83px;
    margin-top: 30px;
    margin-left: 58px;
}

.memberprofile_first{
    width: 57px;
    height: 83px;
    margin-top: 30px;
    margin-left: 24px;
}

.memberlist > li {
    float: left;
}

.memberprofile > img{
    width: 57px;
    height: 58px;
}

.profile_name{
    margin-top:13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.text_section{
    width: 232px;
    height: 395px;
    background-color: #F4F5FF;
    float:right;
}
.textlist{
    padding: 0;
}

.datebox{
    width: 132px;
    height: 38px;
    background: #B1B2FF;
    border: 1px solid #D9D9D9;
    border-radius: 5px; 
    margin-top:25px;
    margin-left:46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.line{
    width: 232px;
    height: 0px;
    margin-top:27px;
    border: 1px solid #D9D9D9;
}

.attendance_txt{
    margin-top:16px;
    margin-left:23px;
    width: 231px;
    height: 27px;
    display: flex;
}

.attend_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
    float:left;
    margin-right:19px;
}

.attend_timestamp{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #464646;     
}

.attend_state{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #6E63B6;
    margin-left:31px;
}

.attendance_txt > div{
    display:inline-block;
}