<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>동고동락</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A800"/>
  <link rel="stylesheet" href="/css/grpProfile.css"/>
</head>
<body>
<div class="mainContent">
  <div class="mainLayout">
    <div class="contents">
      <div class="title">그룹 프로필 생성</div>
      <div class="Imgs">
        <img class="imglayout" src="/img/imglayout.png"/>
        <button class="imgInsert"></button>
      </div>
      <form action="/app/group/profile" method="post">
      <div class="nickname">
        <div class="grpname">그룹 닉네임</div>
        <input class="inputblank"></input>
      </div>
      <button class="gobtn" type="submit">입장하기</button>
    </div>
  </form>
  </div>
  <div class="sidebar">
    <div class="sidelayout">
      <div class="logo"></div>
      <div class="sidebtn">
        <button class="home"></button>
        <button class="team"></button>
        <button class="mypage"></button>
        <button class="settings"></button>
      </div>
    </div>
  </div>
</div>
</body>