<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>그룹 조회하기</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="/css/groupView.css"/>
</head>
<body>
<div class="fullScreen">
  <div class="screenContent">
    <img class="Logo" src="/img/logo.png"/>
    <div class="line">
    </div>
    <div class="mainContent">
      <div class="Search">
        <div class="searchMent">
          <input class="searchBlank" type="text"/>
          <img class="searchBtn" src="/img/searchbtn.png"/>
        </div>
      </div>
      <ul class="grpList">
        <form action="/app/createGroup" method="GET">
            <div class="newBlock">
                <p class="newBlockContent">
                +
                <br/>
                <input type="submit">만들기 
                </p>
              </div>
        </form>
        
        <% data.forEach(Group => { %>
        <ul class="GrpEnter">
          <div class="groupInfo">
            <p class="groupName"><a href="/app/groups/views/<%= Group.groupId %>"><%= Group.groupName %></a></p>
          </div>
        </ul>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="myInfobar">
    <div class="myInfoContent">
      <p class="myinfoTxt">My Info</p>
      <img class="Settings" src="/img/settings.png"/>
      <img class="Notification" src="/img/notification.png"/>
    </div>
    <img class="profileImg" src="/img/profileimg.png"/>
    <p class="nickName">mymelody</p>
    <div class="memberbtn-9jU">member</div>
  </div>
</div>
</body>