<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>과제 게시물 조회</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="\css\noticeLook.css"/>
</head>
<body>
  <!-- 사이드바 -->
  <div class="sidebar">
    <div id="group_name"><p>Algorithm<br> Club</p></div>
    <div class="sidebar-menu">
      <ul>
        <div class="sidebar-menu-items"><a href="">group information</a></div>
        <div class="sidebar-menu-items"><a href="">rank</a></div>
        <div class="sidebar-menu-items"><a href="">schedule</a></div>
        <div class="sidebar-menu-items"><a href="">members</a></div>
        <div class="sidebar-menu-items"><a href="">mypage</a></div>
        <div class="sidebar-menu-items">
          <a href="">notice board</a>
          <ul>
            <div class="notice-board-category"><a href="">► notice</a></div>
            <div class="notice-board-category"><a href="">► vote</a></div>
            <div class="notice-board-category"><a href="">► schedule</a></div>
            <div class="notice-board-category"><a href="">► assignments</a></div>
            <div class="notice-board-category"><a href="">► Q&A</a></div>
          </ul>
        </div>
      </ul>
    </div>
  </div>

  <div class="left-sidebar">
    <img id="logo" src="/img/Logo.png">
    <ul class="left-sidebar-icons">
      <img id="home" src="/img/home.png">
      <img id="members" src="/img/members.png">
      <img id="user" src="/img/user.png">
      <img id="settings" src="/img/settings.png">
    </ul>
  </div>
  <div class="right-sidebar">
    <!-- 프로필바 상단 -->
    <div>
      <p class="profile-text">My profile</p>
      <img class="right-sidebar-icons" src="/img/profile_settings.png">
      <img class="right-sidebar-icons" src="/img/alarm.png">
    </div>
    
    <!-- 프로필 사진, 이름, 멤버 등급 -->
    <div class="profile">
      <div><img id="profile-img" src="https://i.pinimg.com/564x/ce/4e/36/ce4e36fe3add8d87eaa37e84e1834d6c.jpg"></div>
      <p class="profile-name">cookie</p>
      <p class="grade">member</p>
    </div>

    <!-- 멤버 또는 채팅 창 -->
    <div class="member_or_chatting">
      <!-- 보라색 바 -->
      <div class="selectbar">
        <p class="selected">member</p>
        <p class="unselected">chatting</p>
      </div>
      <!-- 멤버 목록 -->
      <div></div>
      <!-- 채팅창 목록 -->
      <div></div>
    </div>
  </div>


<div class="content">
  <div class ="notice-board-header">
    <!-- 게시판 이름 -->
    <div class="notice-board-name">
      <p>notice</p>
    </div>
  </div>
      <div class="post_content-wrapper">
        <!-- 게시글 제목 -->
        <div class="post_title">
          <p>
            <%= result[0].postTitle%>
          </p>
          <img class="more" src="/img/more.png"/>
        </div>

        <!-- 구분선 -->
        <div class="divide"></div>

        <!-- 사용자 이름, 작성 시간 -->
        <div class="writer_time_wrapper">
          <div class="writer">
            <div class="writerImg"><img class="writer_img" src="https://i.pinimg.com/564x/ce/4e/36/ce4e36fe3add8d87eaa37e84e1834d6c.jpg"></div>
            <p class="user_name">notasheepjun</p>
          </div>
          <div class="create_at">
            <p><%= result[0].createAt%></p>
          </div>
        </div>

        <!-- 글 내용 -->
        <p class="post_content">
        <%= result[0].postContent%>
        </p>

        <!-- 게시글 하단 첨부파일, 공감 개수, 댓글 개수 -->
        <div class="post_lower_wrapper">
          <div class="file">
            <img class="file_icon" src="/img/clip.png"/>
            <!-- 첨부파일 이름 -->
            <p class="file_name">ProblemSet3.docx</p>
          </div>
          <!-- 공감 -->
          <div class="likes-wrapper">
            <img class="likes_icon" src="/img/heart.png"/>
            <!-- 공감 개수 -->
            <p class="likes_count">10</p>
          </div>
          <!-- 댓글 -->
          <div class="comment-wrapper">
            <img class="comment_icon" src="/img/comment.png"/>
            <!-- 댓글 개수 -->
            <p class="comment_count">2</p>
          </div>
        </div>
      </div>
      

      <!-- 댓글 창 -->
      <div class="post_comments_wrapper">
        <!-- 댓글 & 답글 -->
        <div class="comments">
          <!-- 일반 댓글 -->
          <div class="original_comments">
            <div class="comment_writer">
              <img class="writer_img" src="https://cdn.shopify.com/s/files/1/0568/2298/8958/products/Sanrio-My-Melody-Plush-Toy-Ice-Cream-Parlor-226696-Japan-Figure-4550337226698-2_700x700.jpg?v=1658204471"/>
              <p class="user_name">가짜mymelody</p>
            </div>
              <!-- <img class="edit" src="/img/image-26.png"/> -->
            <p class="comment">낙서도 그리기 싫어요 그냥 점수만 주세요 ㅋ</p>
          
            <!-- 답글 -->
            <div class="reply-wrapper">
              <!-- 답글 단 사람 -->
              <div class="comment_writer">
                <div><img class="writer_img" src="https://i.pinimg.com/564x/ce/4e/36/ce4e36fe3add8d87eaa37e84e1834d6c.jpg"></div>
                <p class="user_name">notasheepjun</p>
              </div>
              <!-- 답글 내용 -->
              <p class="comment">
                하기 싫으면 하지 마세요 그냥^^ 학생은 0점이야. 학생이 아주 그냥 예의가 없네. 어디서 배운 버르장머리야?
              </p>
            </div>
          </div>
        </div>

        <!-- 댓글 입력 창 -->
        <div class="write_comment_wrapper">
            <img class="writer_img" src="https://i.pinimg.com/564x/ce/4e/36/ce4e36fe3add8d87eaa37e84e1834d6c.jpg"/>
            <input class="input_comment" type="text"/>
          <div class="btn-submit">
            <button class="submit">등록</button>
          </div>
        </div>  
    </div>

</body>
</html>