<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>로그인</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=JejuGothic%3A400"/>
  <link rel="stylesheet" href="./styles/loginComplete.css"/>
</head>
<body>
<div class="item">
  <div class="logo">
    <div class="d1">D</div>
    <div class="d2">D</div>
  </div>
  <div class="donggo">동고동락</div>
  <div class="contents">
    <img class="complete" src="/img/image-1.png"/>
    <div class="completeTxt">로그인 성공</div>
    <div class="gomainbtn"><a href="/app/groups">메인 화면으로</a></div>
  </div>
</div>
</body>