<body>
    <form action="/app/login" method="post">
        <div class="id">
            <p>아이디</p>
        <input type="text" name="userId" placeholder="이메일 입력" value="<%= email %>">
        </div>
        <div class="password">
            <p>비밀번호</p>
            <input type="password" name="password" value="<%= password %>">
        </div>
    </form>
</body>